body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
}

/*header*/ 

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
}

.links-right ul, a{
    list-style-type: none;
    text-decoration: none;
    color: #e5e7eb;
    margin-right: 1rem;
}

.header-logo > a{
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
    font-weight: bold;
    line-height: 40px;
}

/*hero text*/

.presentation{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    height: 50vh;
    align-items: center;
}

.hero{
    height: 30vh;
    width: 40vw;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 0%;
    margin-right: 1rem;
}

.sub-hero{
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 1rem;
}

.img-hero{
    height: 30vh;
    width: 40vw;
    background-color: rgba(128, 128, 128, 0.4);
    line-height: 30vh;
}

/*random info*/

.info{
    display: flex;
    flex-direction: column;
    height: 40vh;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 2rem auto;
}

.info-imgs{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.info-imgs p{
   width: 10rem;
   text-align: center;
}

.info-img{
    height: 7rem;
    width: 7rem;
    border: .2rem solid #3882f6;
    border-radius: .3rem;
    margin: 1rem;
    margin: auto;
}

/*quote*/

.quote-back{
    background-color: #e5e7eb;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-cont .quote-whole {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    height: 20vh;
    width: 80vh;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sign{
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    font-size: 1.4rem;
}

/*banner*/

.banner{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actual-banner{
    background-color: #3882f6;
    display: flex;
    height: 15vh;
    width: 100vh;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
}

.sign-up{
    background-color: #3882f6;
    border-radius: .5rem;
    text-decoration: none;
    border: none;
    padding: .5rem 1.2rem;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
}

.sign-up.banner{
    border: 2px solid #e5e7eb;
    height: 1.5rem;
    padding: 1rem 1.2rem;
}

.banner-title{
    font-weight: bolder;
    font-size: 1.5rem;
    color: #e5e7eb;
    margin-bottom: 0;
}

.banner-text{
    color: #e5e7eb;
    font-size: 1.2rem;
    margin-top: 0;
}

/*footer*/

footer{
    background-color: #1f2937;
    color: #e5e7eb;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
}